<h4>Binding 1 way</h4>
<p>Texte statique: Coucou !!</p>
<!-- {{  }} binding One way -->
<p>Texte dynamique: Bonjour {{ nom }}!</p>

<!-- un pipe est une fonction de transformation -->
<p>Date du jour : {{ date | date : 'dd/MM/yyyy' }}</p>

<!-- number prend en paramètre 'x.y-z' -->
<!-- x : nombre min pour les unités -->
<!-- y : nombre min pour les decimales -->
<!-- z : nombre max pour les decimales -->
<p>Prix: {{ prix | number : '0.2-2' }}</p>

<!-- affichage d'un objet -->
<p>Coordonnées: ({{ coord?.lat }}, {{ coord?.lng }})</p>

<!-- nécessite FormsModule -->
<h4>Binding 2 ways</h4>

<input nbInput [(ngModel)]="entree">
