<div *ngIf="control.invalid && (control.touched || control.dirty)">
    <span *ngIf="control.errors['required']">Le champs est requis</span>
    <span *ngIf="control.errors['minlength']">
        Le champs est trop court (min: {{ control.errors['minlength'].requiredLength }})
    </span>
    <span *ngIf="control.errors['maxlength']">
        Le champs est trop long (max: {{ control.errors['maxlength'].requiredLength }})
    </span>
    <span *ngIf="control.errors['email']">Email Invalide</span>
    <span *ngIf="control.errors['notAfterDateError']">
        La date est trop grande 
        (max: {{control.errors['notAfterDateError'] | date : 'dd/MM/yy' }})
    </span>
    <span *ngIf="control.errors['emailUniqueError']">Cet email est déjà utilisé</span>
</div>
