<div>
    <input nbInput [(ngModel)]="newItem">
    <button nbButton (click)="add()" status="primary"
            [disabled]="!newItem">+</button>
</div>

<nb-list>
    <nb-list-item *ngFor="let item of items">
        <app-tache-row [item]="item" 
                       (onDelete)="delete($event)"></app-tache-row>
    </nb-list-item>
</nb-list>
