<div>
    <nb-icon *ngIf="item.accomplie" icon="checkmark"></nb-icon>
    <nb-icon *ngIf="!item.accomplie" icon="close"></nb-icon>
    <span (click)="item.accomplie = !item.accomplie">{{ item.nom }}</span>
</div>
<button nbButton status="danger" size="small" (click)="delete()">
    <nb-icon icon="trash"></nb-icon>
</button>