<!-- *ngId conditionner l'affichage -->
<!-- <p *ngIf="isLogged">Bienvenue</p>

<button *ngIf="!isLogged" nbButton (click)="isLogged = true">Se connecter</button> -->

<!-- <ng-template [ngIf]="isLogged" [ngIfElse]="myTemplate">
    <p>Bienvenue</p>
</ng-template>

<ng-template #myTemplate>
    <button nbButton (click)="isLogged = true">Se connecter</button>
</ng-template> -->
<ng-container [ngSwitch]="isLogged">
    <p *ngSwitchCase="true">Bienvenue</p>
    <button *ngSwitchCase="false" nbButton (click)="isLogged = true">Se connecter</button>
</ng-container>


<ul>
    <li *ngFor="let item of collection;
        let i = index; let odd = odd"
        [ngClass]="{ green: odd }">{{ i }} {{ item }} </li>
</ul>

