<button class="myBtn" nbButton
    [disabled]="timer"
    (click)="start()">start</button>
<button class="myBtn" nbButton
    [disabled]="!timer"
    (click)="stop()">stop</button>
<button class="myBtn" nbButton
    (click)="reset()">reset</button>

<p>{{ count | toTimer }}</p>
