<nb-card accent="danger">
    <nb-card-header>Confirmation</nb-card-header>
    <nb-card-body>
        Êtes vous sûr de vouloir supprimer cet élément ({{ data }})?
    </nb-card-body>
    <nb-card-footer>
        <button nbButton (click)="cancel()">Non</button>
        <button nbButton status="danger" (click)="confirm()">Oui</button>
    </nb-card-footer>
</nb-card>
