<div *ngIf="pokemon">
    <nb-card>
        <nb-card-header>
            <h4>{{ pokemon.name | uppercase }}</h4>
        </nb-card-header>
        <nb-card-body>
            <div class="sprites">
                <img [src]="pokemon.sprites.front_default">
                <img [src]="pokemon.sprites.back_default">
            </div>
        </nb-card-body>
    </nb-card>  
</div>
