<form [formGroup]="fg" (ngSubmit)="submit()">
    <div class="form-group">
        <label>Nom</label>
        <input nbInput type="text" formControlName="nom">
        <app-form-error [control]="fg.get('nom')"></app-form-error>
    </div>
    <div class="form-group">
        <label>Prénom</label>
        <input nbInput type="text" formControlName="prenom">
        <app-form-error [control]="fg.get('prenom')"></app-form-error>
    </div>
    <div class="form-group">
        <label>Email</label>
        <input nbInput type="text" formControlName="email">
        <app-form-error [control]="fg.get('email')"></app-form-error>
    </div>
    <div class="form-group">
        <label>Date de naissance</label>
        <input nbInput type="text" formControlName="dateDeNaissance" [nbDatepicker]="dp">
        <nb-datepicker #dp></nb-datepicker>
        <app-form-error [control]="fg.get('dateDeNaissance')"></app-form-error>
    </div>
    <div class="form-group">
        <label>Nationalite</label>
        <nb-select formControlName="nationality">
            <nb-option *ngFor="let c of countries" [value]="c.cca2">{{ c.translations.fra.common }}</nb-option>
        </nb-select>
    </div>
    <div class="form-group" *ngIf="fg.get('nationality').value === 'BE'">
        <label>Reg Nat.</label>
        <input nbInput type="text" formControlName="ssn">
        <app-form-error [control]="fg.get('ssn')"></app-form-error>
        <div *ngIf="fg.errors">
            <span *ngIf="fg.errors['ssnDateError']">Les champs ne correspondent pas</span>
        </div>
    </div>
    <div class="form-group">
        <button nbButton [disabled]="fg.invalid">Sauvegarder</button>
    </div>
</form>
