

    <div style="display: flex;justify-content: space-between;">
        <button nbButton (click)="prev()" status="info">Previous</button>
        <button nbButton (click)="next()" status="info">Next</button>
    </div>

    <nb-list>
        <!-- <nb-list-item *ngFor="let item of (result$ | async)?.results">
            {{ item.name }}
        </nb-list-item> -->

        <nb-list-item *ngFor="let item of results" 
                      [routerLink]="['/demo4-details', item.name]">
            {{ item.name | titlecase }}
        </nb-list-item>
    </nb-list>

