<button nbButton outline status="danger"
        class="myButton"
        (click)="toggle()">Toggle</button>

<!-- ngClass permet de rajouter une classe en fonction d'une cond -->
<div [ngClass]="{ hidden: state }">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, voluptatum quod accusantium velit mollitia culpa ad error porro omnis unde quisquam molestias fuga excepturi dolor voluptas reprehenderit blanditiis modi recusandae.
</div>
