<form [formGroup]="fg" (ngSubmit)="submit()">
    <div class="form-group">
        <label>Username</label>
        <input (keydown)="preventEnter($event)" nbInput type="text" formControlName="username">
    </div>
    <div class="form-group">
        <label>Password</label>
        <input nbInput type="password" formControlName="password">
    </div>
    <div class="form-group">
        <button nbButton>Se Connecter</button>
    </div>
</form>
