<div>
    <div>
        <nb-select [(ngModel)]="selectedCountry">
            <nb-option *ngFor="let c of countries"
                       [value]="c"
                       >{{ c.name.common }}</nb-option>
        </nb-select>
    </div>
    <div>
        <input nbInput type="text" [(ngModel)]="firstName">
    </div>
    <div>
        <button nbButton (click)="search()">Rechercher</button>
    </div>

    <div *ngIf="agify">
        <h4>age probable : {{ agify.age }} ans</h4>
    </div>
</div>
