<div>
    <input nbInput type="text" [(ngModel)]="message">
</div>
<button nbButton (click)="submit()">Envoyer</button>

<ul>
    <li *ngFor="let m of messages">{{ m.auteur }} : {{ m.content }}</li>
</ul>
